*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Poppins', sans-serif; */
    background-color: #ededed;
    min-height: 100dvh;
    height: auto;
}

.navspace{
    width: 35%;
    justify-content: space-evenly;
    font-weight: 600;
}

.navstyle{
    color: #262930;
}

.navstyle:hover{
    color: #262930;
    font-weight: bold;
}

.imgstyle{
    border-radius: 30px;
    height: 450px;
    box-shadow: 1px 1px 15px #878787;
    border: 1px solid #c2c2c2;
}

.name{
    font-family: "Noto Serif Display", serif;
    font-size: 70px;
    color: #262930;
}

.sub{
    font-size: 30px;
    margin-bottom: 48px;
    color: #262930;
}

.maintxt{
    font-size: 18px;
    line-height: 25px;
    color: #262930;
}

.btnstyle{
    width: 200px;
    height: 45px;
    border-radius: 50px;
    background-color: #fafafa;
    border: 4px solid #fafafa;
    color: #262930;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17.5px;
    margin-top: 60px;
    padding-right: 55px;
    text-align: center;
    letter-spacing: 0.5px;
}

.btnstyle>img{
    width: 40px;
    height: 40px;

}

.btnstyle:hover{
    background-color: #d581a1;
    color: #fafafa;
    border: 4px solid #d581a1;
    transition: 0.15s ease-in-out;
}

figure{
    color: #262930;
    border-left: 2.5px solid #262930;
    padding-left: 15px;
}

/* .contact{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(4,65px);
    margin-top: -25px;
}

.contact>li{
    list-style-type: none;
}

.contact>li img{
    height: 35px;
} */

.nameabt{
    font-family: "Noto Serif Display", serif;
    font-size: 50px;
    color: #262930;
}

.avatar{
    height: 210px;
    width: 210px;
    box-shadow: 1px 1px 15px #a6a6a6;
}

.skillabt{
    font-family: "Noto Serif Display", serif;
    color: #262930;
}

.skillimg{
    display: grid;
    justify-items: end;
    justify-content: end;
    grid-template: repeat(3, 1fr)/repeat(4, 80px);
    row-gap: 20px;
}

.skillimg img{
    height: 45px;
}

.internship>.tag{
    font-size: 20px;
    /* color: #262930; */
    /* border-left: 2px solid #262930; */
    /* border-radius: 50px; */
    width: 230px;
    /* height: 48px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Serif Display", serif;
}

.tag>h4{
    margin-top: 0;
    margin-bottom: 0;
    border-left: 2px solid #262930;
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.tag>img{
    height: 25px;
}

.researchp>.tag{
    font-size: 20px;
    /* color: #262930; */
    /* border-left: 2px solid #262930; */
    /* border-radius: 50px; */
    width: 290px;
    /* height: 48px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Serif Display", serif;
}

.education>.tag{
    font-size: 20px;
    /* color: #262930; */
    /* border-left: 2px solid #262930; */
    /* border-radius: 50px; */
    width: 220px;
    /* height: 48px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Serif Display", serif;
}

.heading{
    letter-spacing: 0.5px;
    /* font-weight: 400; */
}

.dates{
    color: #a6a6a6;
}

.designation{
    font-size: 18px;
    color: #545454;
}

.context{
    color: #737373;
    width: 480px;
    /* line-height: 1.8; */
}

.about{
    width: 100%;
    background: #E4E4E4;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 1px 1px 20px #B9B9B9;
}

.abt{
    display: flex;
    flex-direction: row;
    margin-right: 250px;
    margin-left: 250px;
    justify-content: space-between;
}

.abt_text{
    width: 55%;
    /* margin-right: 150px ; */
}

.abt_img{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
}

.item{
    display: flex;
    flex-direction: row;
}

.item img{
    height: 35px;
    width: 35px;
}

.item .item-txt{
    border-left: 2px solid #262930;
    margin-left: 20px;
    padding-left: 30px;
}

.item .item-txt .tl-duration{
    padding: 0.3rem 0.7rem;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    /* font-weight: 500; */
    background-color: #B9B9B9;
}

.item .item-txt h3{
    font-weight: 400;
    font-size: large;
    color: #545454;
    /* margin-top: 5px; */
    letter-spacing: 0.5px;
}

.item .item-txt .main{
    font-size: 20px;
    /* margin-bottom: 5px; */
}

.item .item-txt .item-sub{
    /* font-size: 18px; */
    color: #737373;
}

.extra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
